body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

#container{
    border: solid 1px;
    padding: 1rem;
    width: 30%;
}

#question-container{
    padding-bottom: 1em;
}

#button-div{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
}

form{
    display: flex;
    flex-direction: column;
}

input[type='text']{
    margin: 0.75em 0;
    border: 2px solid #eee;
    padding:10px;
    border-radius:10px;
}

/* input[type='checkbox']{

} */

button {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
  
  }