body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

#container{
    border: solid 1px;
    padding: 1rem;
}

#button-div{
    padding: 0.5rem;
}

form{
    display: flex;
    flex-direction: column;
}